body {
    background-image: url("images/wood.jpg");
}

.navbar {
    border-radius: 0;
    text-align: left;
}

.navbar-brand {
    font-family: 'Dancing Script', cursive;
}

h3 {
    margin: 0px;
    padding: 0px;
}


.list_ingredients {
    list-style: none;
}

.list_ingredients li::before {
    /*Using a Bootstrap glyphicon as the bullet point */
    content: "\270f";
    font-family: 'Glyphicons Halflings';
    font-size: 9px;
    float: left;
    margin-top: 4px;
    margin-left: -17px;
    color: #800000;
}
